* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.trading-app {
  width: 40%;
  margin: 15% auto;
  background-color: #e8e8e8;
  border: 2px solid #5b5b5c;
  border-radius: 3px;
  height: 140px;
}

.app-head {
  background-color: #5b5b5c;
  text-transform: uppercase;
  font-weight: 700;
  color: #fafafa;
  text-align: center;
}
.trading-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.fx-tile {
  border: 2px solid #dadddd;
  margin: 20px auto 20px;
  flex-basis: 40%;
  height: 65px;
  background-color: #ffffff;
}

.fx-tile h3 {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.fx-tile h2 {
  font-size: 1.6em;
  margin-bottom: 5px;
}

.sell {
  text-align: left;
  color: #c70a12;
  border-radius: 5px 20px 20px 5px;
}
.buy {
  text-align: right;
  color: #6c8c33;
  border-radius: 20px 5px 5px 20px;
}

.amount-big {
  font-size: 1.4em;
  font-weight: 700;
}

.amount-sup {
  vertical-align: super;
}

.arrow-box {
  flex-basis: 10%;
  height: 60px;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.arrow-up {
  color: #c70a12;
  margin: 0;
  padding: 0;
}

.arrow-down {
  color: #6c8c33;
  margin: 0;
  padding: 0;
}
