/* General */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Single app*/

.app-panel {
  flex-basis: 30%;
  margin: 40px auto 40px;
  background-color: #e8e8e8;
  border: 2px solid #5b5b5c;
  border-radius: 3px;
  height: 140px;
}

.app-head {
  background-color: #5b5b5c;
  text-transform: uppercase;
  font-weight: 700;
  color: #fafafa;
  text-align: center;
}

.app-head h1 {
  display: inline;
}
.price-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.fx-tile {
  border: 2px solid #dadddd;
  background-color: #ffffff;
  margin: 20px 0;
  flex-basis: 45%;
  height: 65px;
  border-radius: 10px;
}

/* Arrow shape */
.fx-tile.sell {
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 45%, 100% 59%, 75% 100%, 0 100%);
  clip-path: polygon(0 0, 75% 0, 100% 45%, 100% 59%, 75% 100%, 0 100%);
}
.fx-tile.buy {
  -webkit-clip-path: polygon(100% 0, 25% 0, 0 45%, 0 60%, 25% 100%, 100% 100%);
  clip-path: polygon(100% 0, 25% 0, 0 45%, 0 60%, 25% 100%, 100% 100%);
}

/* Tile Hovers */
.fx-tile.sell:hover {
  border: 3px solid #53a9bb;
}

.fx-tile.sell:hover,
.fx-tile.sell:hover span {
  background-color: #ff0000;
  color: #ffffff;
}

.fx-tile.buy:hover {
  border: 3px solid #53a9bb;
}
.fx-tile.buy:hover,
.fx-tile.buy:hover span {
  background-color: #7fd13b;
  color: #ffffff;
}
h3 {
  font-size: 0.8em;
  margin-bottom: 10px;
}
.fx-tile h2 {
  font-size: 1.6em;
  margin-bottom: 5px;
  display: inline;
}
.sell {
  text-align: left;
  color: #c70a12;
}
.sell-price {
  color: #c70a12;
}
.buy {
  text-align: right;
  color: #6c8c33;
}
.buy-price {
  color: #6c8c33;
}
.price-big {
  font-size: 1.4em;
  font-weight: 700;
}
.price-sup {
  vertical-align: super;
}
.arrow-box {
  align-self: flex-start;
  font-size: 3em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.fa-caret-up {
  color: #c70a12;
  margin: 0;
  padding: 0;
}
.fa-caret-down {
  color: #6c8c33;
  margin: 0;
  padding: 0;
}

/* Multiple panels */

.multiple-panels {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid pink;
}

.multi {
  margin: 5px;
  flex-basis: 30%;
}

.test {
  display: block;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  padding: 0.5em;
  border-radius: 2px;
}

/* Media queries */

@media screen and (max-width: 1250px) {
  .app-panel {
    flex-basis: 40%;
    margin: 5px auto;
  }
}
@media screen and (max-width: 1050px) {
  .app-panel {
    flex-basis: 45%;
    margin: 5px auto;
  }
}

@media screen and (max-width: 1050px) {
  .app-panel {
    flex-basis: 70%;
    margin: 5px auto;
  }

  .fx-tile {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 550px) {
  .app-panel {
    flex-basis: 80%;
    margin: 5px auto;
  }

  .fx-tile {
    flex-basis: 45%;
  }

  .fx-tile h2 {
    font-size: 1.4em;
  }
}
