* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.trading-panel {
  width: 35%;
  margin: 15% auto;
  background-color: #e8e8e8;
  border: 2px solid #5b5b5c;
  border-radius: 3px;
  height: 140px;
}

.app-head {
  background-color: #5b5b5c;
  text-transform: uppercase;
  font-weight: 700;
  color: #fafafa;
  text-align: center;
}
.trading-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.fx-tile {
  border: 2px solid #dadddd;
  background-color: #ffffff;
  margin: 20px 0;
  flex-basis: 40%;
  height: 65px;
  border-radius: 10px;
}

.fx-tile.sell:hover {
  border: 3px solid #53a9bb;
}

.fx-tile.sell:hover,
.fx-tile.sell:hover span {
  background-color: #ff0000;
  color: #ffffff;
}

.fx-tile.sell {
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 45%, 100% 59%, 75% 100%, 0 100%);
  clip-path: polygon(0 0, 75% 0, 100% 45%, 100% 59%, 75% 100%, 0 100%);
}
.fx-tile.buy {
  -webkit-clip-path: polygon(100% 0, 25% 0, 0 45%, 0 60%, 25% 100%, 100% 100%);
  clip-path: polygon(100% 0, 25% 0, 0 45%, 0 60%, 25% 100%, 100% 100%);
}
.fx-tile.buy:hover {
  border: 3px solid #53a9bb;
}
.fx-tile.buy:hover,
.fx-tile.buy:hover span {
  background-color: #7fd13b;
  color: #ffffff;
}
h3 {
  font-size: 0.8em;
  margin-bottom: 10px;
}
.fx-tile h2 {
  font-size: 1.6em;
  margin-bottom: 5px;
}
.sell {
  text-align: left;
  color: #c70a12;
  /* border-radius: 5px 20px 20px 5px; */
}
.sell-price {
  color: #c70a12;
}
.buy {
  text-align: right;
  color: #6c8c33;
  /* border-radius: 20px 5px 5px 20px; */
}
.buy-proce {
  color: #6c8c33;
}
.price-big {
  font-size: 1.4em;
  font-weight: 700;
}
.price-sup {
  vertical-align: super;
}
.arrow-box {
  flex-basis: 10%;
  height: 60px;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.arrow-up {
  color: #c70a12;
  margin: 0;
  padding: 0;
}
.arrow-down {
  color: #6c8c33;
  margin: 0;
  padding: 0;
}
